.demo {
  align-items: center;
  color: blue;
  display: flex;
  font-family: sans-serif;
  font-size: 40pt;
  justify-content: center;
}

.highlight {
  color: blue;
  font-weight: bold;
}

.exercise {
  color: blue;
  font-size: 24px;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

code {
  background-color: #f8f8f8;
  color: #333;
}
